body {
    margin: 0;
    overflow: hidden; /* Remove barras de rolagem */
    background-color: #000;
    font-family: 'Arial', sans-serif;
}

#crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.7);
    font-size: 24px;
    font-weight: bold;
    pointer-events: none; /* Deixa o mouse "atravessar" a mira ao clicar */
    z-index: 10;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
    cursor: pointer;
}